<include file="Public/header" title="添加景点" />
<div id="page-wrapper">
    <form method="post" action="{:U('spot/add')}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="spot-name">景点名称</label>
            <input type="text" name="name" class="form-control" id="spot-name" placeholder="输入景点名称">
        </div>
        <div class="form-group">
            <label for="spot-cate">分类</label>
            <select name="cate_id" id="spot-cate" class="form-control">
                <foreach name="category" item="v">
                    <option value="{$v.id}">{$v.html} {$v.title}</option>
                </foreach>
            </select>
        </div>
        <div class="form-group">
            <label for="spot-area">所属地区</label>
            <select name="area" id="spot-area" class="form-control">
                <foreach name="area" item="v">
                    <option value="{$v}">{$v}</option>
                </foreach>
            </select>
        </div>
        <div class="form-group">
            <label for="spot-star">星级</label>
            <select name="star" id="spot-star" class="form-control">
                <foreach name="star" item="v">
                    <option value="{$v}">{$v}</option>
                </foreach>
            </select>
        </div>
         <div class="form-group">
            <label for="spot-content">景点简介</label>
            <textarea id="spot-descs" name="descs" class="form-control"></textarea>
        </div>
        <div class="form-group">
           <label for="spot-ticket">门票信息</label>
           <textarea id="spot-ticket" name="ticket" class="form-control"></textarea>
       </div>
       <div class="form-group">
          <label for="spot-address">详细地址</label>
          <textarea id="spot-address" name="address" class="form-control"></textarea>
      </div>
      <div class="form-group">
         <label for="spot-telephone">联系电话</label>
         <input type="text" name='telephone' id='spot-telephone' class='form-control'>
     </div>
     <div class="form-group">
        <label for="spot-opentime">开放时间</label>
        <textarea id="spot-opentime" name="opentime" class="form-control"></textarea>
    </div>
    <div class="form-group">
       <label for="spot-playtime">游玩时间</label>
       <input type="text" name='playtime' id='spot-playtime' class='form-control'>
   </div>
   <div class="form-group">
      <label for="spot-goodtime">最佳季节</label>
     <input type="text" name='goodtime' id='spot-goodtime' class='form-control'>
  </div>
        <div class="form-group">
            <label for="spot-pic">景点图片</label>
            <input type="file" name="pic" class="form-control" id="spot-pic">
        </div>
        <div class="form-group">
            <label for="spot-content">景点内容</label>
            <script id="spot-content" name="content" type="text/plain"></script>
        </div>
        <div class="form-group">
            <label>景点类型</label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="1" checked="checked">普通
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="2">置顶
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="3">热门
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" id="type" value="4">推荐
            </label>
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('spot-content',{
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
<include file="Public/footer" />
