<include file='Public/header'/>
<div class="clear"></div>
<!-- <div class="nybanner" style="background:url(images/nybanner2.jpg) center no-repeat;"></div> -->
<div class="fullSlide">
  <div class="bd">
    <ul>
      <?php foreach($top as $v):?>
      <li _src="url(<?php echo $v['pic'];?>)" style="background:#E2025E center 0 no-repeat;"><a target="_blank" href="{:U('play/view?id=')}<?php echo $v['id'];?>"></a></li>
    <?php endforeach;?>
    </ul>
  </div>
  <div class="hd">
    <ul>
    </ul>
  </div>
  <span class="prev"></span> <span class="next"></span> </div>
  <script type="text/javascript">
  jQuery(".fullSlide").hover(function() {
      jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
  },
  function() {
      jQuery(this).find(".prev,.next").fadeOut()
  });
  jQuery(".fullSlide").slide({
      titCell: ".hd ul",
      mainCell: ".bd ul",
      effect: "fold",
      autoPlay: true,
      autoPage: true,
      trigger: "click",
      startFun: function(i) {
          var curLi = jQuery(".fullSlide .bd li").eq(i);
          if ( !! curLi.attr("_src")) {
              curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
          }
      }
  });
  </script>
<!--中间内容-->
<div id="subbox">
<div class="position">当前位置：<a href="#">首页</a> > 活动详情</div>
<div class="mainsub">
<!--左侧部分-->
<div class="left870">
  <!--活动详情-->
  <div class="titlei"><h1>活动详情</h1></div>
  <div class="menu"><h2><a class="on">{$play.title}</a></h2></div>
  <div class="content_news">
  	<?php echo htmlspecialchars_decode($play['content'])?>
  </div>
</div>
<!--右侧部分-->
<div class="right310">
<!--热门活动-->
<div class="column5">
<div class="title5"><a href="{:U('play/hot')}">更多></a><h1>热门活动</h1></div>
<?php foreach($hot as $v):?>
<div class="topnews1">
<div class="tjimg"><img src="<?php echo $v['pic'];?>" width="108" height="80" /></div>
<div class="tjt"><h2><a href="{:U('play/view?id=')}<?php echo $v['id'];?>"><?php echo $v['title'];?></a></h2><p><?php echo $v['descs'];?></p>		</div>
</div>
<?php endforeach;?>
<!-- <div class="clear"></div> -->
</div>
</div>
</div>
</div>
<include file='Public/footer'/>
